In [1]:
import pandas as pd
origem = pd.read_excel("G:\\Meu Drive\\API_5Sem\\API5Doc\\Power BI\\treinamento_decisiontree.xlsx")
origem.head(n=5)

   uf     cnae  natureza_juridica  porte  idade  origem
0  AC  2342702                213      1     41       1
1  AC  2342702                206      1     28       2
2  AC   111301                230      2     28       1
3  AC   111399                206      3     28       2
4  AC  1414200                206      1     28       1

In [2]:
inputs = origem.drop('origem', axis='columns')
target = origem['origem']

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le_uf = LabelEncoder()

In [5]:
inputs['uf_n'] = le_uf.fit_transform(inputs['uf'])

In [6]:
inputs.head()

   uf     cnae  natureza_juridica  porte  idade  uf_n
0  AC  2342702                213      1     41     0
1  AC  2342702                206      1     28     0
2  AC   111301                230      2     28     0
3  AC   111399                206      3     28     0
4  AC  1414200                206      1     28     0

In [7]:
inputs_n = inputs.drop(['uf','uf_n'], axis='columns')
inputs_n

         cnae  natureza_juridica  porte  idade
0     2342702                213      1     41
1     2342702                206      1     28
2      111301                230      2     28
3      111399                206      3     28
4     1414200                206      1     28
...       ...                ...    ...    ...
2440  9609208                206      1      3
2441  9609208                213      1      3
2442  9609208                213      1      3
2443  9609208                213      1      3
2444  9609208                213      1      3

[2445 rows x 4 columns]

In [8]:
from sklearn import tree

In [9]:
model = tree.DecisionTreeClassifier()

In [10]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [11]:
model.score(inputs_n,target)

0.725562372188139

In [12]:
model.predict([[1414200,213,1,29],[1531902,206,1,29],[1531902,213,1,29],[810007,206,1,40],[9329899,213,1,28],[9329899,399,3,28],[9420100,206,1,28],[9430800,206,1,28],[9430800,213,1,27],[9430800,213,1,27],[9430800,213,2,27],[9492800,308,3,27],[9492800,206,1,38],[9492800,206,3,26],[9492800,206,3,26],[9499500,213,1,26],[9499500,206,1,26],[9511800,213,1,26],[9511800,399,3,26],[9511800,206,1,25],[9511800,206,3,25],[9521500,213,1,25],[9521500,213,1,25],[9601701,206,1,18],[9602501,213,1,25],[9602501,308,3,25],[9602501,213,1,24],[9602501,399,3,24],[9602501,213,1,24],[9602501,213,1,36],[9602501,206,1,24],[9602501,213,1,24],[9602501,230,1,24],[9602502,213,1,24],[9602502,206,2,24],[9602502,308,3,24],[9602502,213,1,24],[9603304,213,1,24],[161001,213,1,24],[161003,206,1,24],[162899,206,2,24],[1052000,206,1,24],[2592602,206,1,23],[4634601,399,3,23],[4639701,213,1,23],[4222701,206,1,23],[4321500,206,1,23],[4322301,206,3,23],[4322302,213,1,23],[4330402,213,1,23],[4330404,206,1,22],[4330404,213,1,23],[9609299,206,3,22],[9700500,213,1,22],[9700500,213,3,19],[2099199,206,1,22],[2219600,213,1,22],[3101200,213,1,22],[3101200,206,1,22],[3212400,213,1,22],[4644301,206,3,22],[4330405,206,1,38],[4330499,206,3,21],[4399103,206,1,21],[4399103,206,1,22],[4399103,206,1,21],[4399103,213,1,21],[4399103,313,3,21],[4399103,206,1,21],[4511102,206,3,21],[4511102,308,3,20],[4520001,206,2,20],[4520001,399,3,20],[4520002,206,1,20],[4520005,308,3,19],[4530701,213,1,19],[3319800,230,1,19],[3600602,206,1,18],[4663000,213,1,18],[4530703,206,1,18],[4615000,206,1,18],[4616800,230,1,17],[2330302,206,1,15],[1340501,213,1,17],[1411801,213,1,17],[1411802,206,1,17],[1412601,213,1,15],[1412602,206,1,16],[8112500,213,1,16],[8112500,206,3,16],[8112500,206,1,16],[8112500,206,1,16],[8112500,213,1,16],[8112500,213,1,16],[3299002,206,1,38],[3299003,213,1,15],[3299099,399,3,14],[3299099,206,1,14],[3299099,206,1,14],[3811400,213,1,13],[3839499,213,2,13],[4120400,206,1,13],[4120400,224,1,13],[4120400,206,1,36],[4120400,213,1,13],[4712100,213,1,13],[4712100,222,3,13],[4712100,213,1,13],[4712100,206,3,11],[4712100,230,2,13],[4712100,213,1,13],[4712100,399,3,12],[4712100,206,2,12],[4713002,213,1,12],[4721103,206,3,12],[4721104,213,1,12],[4721104,213,1,12],[4722901,213,1,12],[4722901,213,1,12],[4723700,213,1,12],[4723700,230,2,12],[4723700,213,1,12],[4723700,206,1,12],[4723700,213,1,12],[4723700,213,1,12],[4724500,213,1,12],[4724500,213,1,12],[4724500,213,1,12],[4729699,213,1,12],[4729699,399,3,12],[4741500,213,1,11],[4742300,213,1,11],[4742300,213,1,11],[4742300,213,1,11],[4743100,213,1,11],[4744001,327,3,12],[4744002,213,1,11],[4744005,213,1,43],[4744005,206,2,11],[4753900,213,1,11],[4753900,213,1,11],[4754701,213,3,11],[4754701,213,1,11],[5223100,206,3,11],[5229002,213,1,10],[6470101,213,1,10],[8129000,213,1,10],[8219999,213,1,10],[8230001,206,1,10],[8230001,213,1,10],[8230002,213,1,10],[8230002,213,1,10],[8291100,213,1,10],[8299799,213,1,10],[8299799,213,1,10],[8512100,213,1,10],[8513900,213,1,10],[8513900,213,1,10],[4619200,213,1,10],[4619200,213,1,10],[4623102,213,1,10],[4623108,213,1,10],[4631100,213,1,9],[4755502,213,1,9],[4755502,213,1,9],[4755502,213,1,9],[4755502,213,1,9],[4755503,213,1,9],[4755503,213,2,9],[4759899,213,1,9],[4761003,213,1,9],[4761003,213,1,9],[4761003,213,1,9],[4763603,213,1,9],[4771701,213,1,9],[4771701,213,1,9],[4771701,206,1,9],[4772500,213,1,9],[4772500,213,1,9],[4772500,213,1,8],[4774100,213,1,8],[4774100,213,1,8],[4781400,213,1,8],[4781400,213,1,8],[4781400,213,1,8],[4781400,213,1,8],[4781400,213,1,8],[4781400,213,1,8],[4781400,206,2,8],[4781400,213,1,8],[4781400,213,1,8],[4781400,206,1,8],[4781400,213,1,8],[4781400,213,1,8],[4781400,213,1,8],[4781400,213,1,8],[4781400,206,1,8],[4781400,213,1,8],[4781400,230,1,8],[4781400,223,3,8],[4781400,213,1,8],[4781400,213,1,8],[4782201,213,1,8],[4782201,206,1,8],[4782202,230,1,8],[5320202,206,1,8],[5510801,213,1,8],[5510801,213,1,8],[5510801,206,3,34],[5510801,213,1,8],[5611201,213,1,8],[5611201,213,1,8],[5611201,213,1,8],[5611201,213,1,8],[5611201,213,1,7],[5611201,213,1,7],[5611201,213,1,7],[5611203,206,1,7],[5611203,213,1,7],[5611203,213,1,7],[5611203,213,1,7],[5611203,213,1,7],[5612100,213,1,7],[5612100,213,1,7],[5612100,213,1,7],[5620102,401,3,33],[5620102,213,1,7],[5620104,213,1,7],[5620104,213,1,7],[5819100,213,1,7],[5829800,206,1,34],[6622300,409,3,7],[6622300,409,3,7],[6810202,409,3,7],[6821802,213,1,6],[6911701,213,1,6],[6911701,213,1,6],[6920601,213,1,6],[7111100,213,1,6],[7112000,213,1,6],[7319002,213,1,6],[7319003,213,1,6],[8599601,213,1,6],[8599601,213,1,6],[8599604,213,1,6],[8599604,213,1,6],[8599699,206,2,6],[8630503,213,1,5],[9313100,213,1,5],[9313100,213,1,5],[4783101,213,1,5],[4783101,213,1,38],[4789001,213,1,5],[4789005,213,1,5],[4789005,213,1,5],[4789099,213,1,5],[4789099,213,1,5],[4789099,206,2,4],[4789099,206,1,4],[4923001,213,1,4],[4923001,213,1,4],[6209100,213,1,4],[7319099,213,1,4],[7420004,213,1,4],[7711000,213,1,4],[7722500,213,1,4],[4924800,213,1,4],[4929901,213,1,4],[4929901,206,1,4],[4929904,206,1,4],[4930201,213,1,4],[4930202,213,1,4],[4930202,213,1,4],[4930202,213,1,4],[7739003,232,3,4],[9001901,213,1,4],[4751201,213,1,4],[1091101,213,1,4],[1091102,213,1,34],[1091102,206,1,4],[1091102,213,1,4],[7410299,213,1,4],[2399101,206,1,31],[2399101,213,1,3],[2421100,206,1,32],[2392300,206,1,31],[2421100,213,1,49],[2421100,213,1,30],[2399101,401,3,30],[2423702,308,3,29],[2421100,206,1,29],[2421100,213,1,28],[2442300,206,1,29],[2423702,206,1,30],[2442300,213,1,34],[2442300,206,1,34],[2423702,206,1,34],[2399101,213,1,17],[2392300,206,3,40],[2442300,206,3,38]]
)

array([1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 1, 1, 2, 2,
       2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1,
       2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 1, 2, 2, 1, 2, 1,
       1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 2, 1, 2,
       2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1,
       1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2, 2, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2,
       2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 1, 1,
       1, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 1, 1,
       1, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, 1, 2, 1], dtype=int64)